﻿<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="x-apple-disable-message-reformatting">
    <title></title>
    <!--[if mso]>
    <style>
        table {border-collapse:collapse;border-spacing:0;border:none;margin:0;}
        div, td {padding:0;}
        div {margin:0 !important;}
    </style>
    <noscript>
        <xml>
            <o:OfficeDocumentSettings>
            <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
    </noscript>
    <![endif]-->
    <style>
        table, td, div, h1, p {
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
        }
    </style>
</head>
<body style="margin:0;padding:0;word-spacing:normal;background-color:#939297;">
    <div role="article" aria-roledescription="email" lang="en" style="text-size-adjust:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#939297;">
        <table role="presentation" style="width:100%;border:none;border-spacing:0;">
            <tr>
                <td align="center" style="padding:0;">
                    <!--[if mso]>
                    <table role="presentation" align="center" style="width:600px;">
                    <tr>
                    <td>
                    <![endif]-->
                    <table role="presentation" style="width:94%;max-width:600px;border:none;border-spacing:0;text-align:left;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;color:#6b7c93;background-color:#2174a6;">
                        <tr>
                            <td style="padding:40px 30px 30px 30px;text-align:center;font-size:24px;font-weight:bold;">
                                <a href="@Model.AppUrl" style="text-decoration:none;"><img src="@(Model.AppUrl)/assets/images/psv_badminton_logo.png" alt="Logo"></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:30px 30px 10px 30px;background-color:#f5fafd;">
                                <h1 style="margin-top:0;margin-bottom:16px;font-size:26px;line-height:32px;font-weight:bold;letter-spacing:-0.02em;">Bestätigung deiner Registrierung</h1>
                                <p>Hallo @(Model.User.DisplayName),<br /><br />dies ist eine Bestätigung, dass deine Registrierung erfolgreich bei uns eingegangen ist!</p>
                                <p>Bevor du die Anmeldeverwaltung verwenden kannst, muss dein Konto zunächst noch von unserem Team freigeschaltet werden. Dieser Schritt ist aus datenschutzrechtlichen Gründen leider notwendig und kann ein wenig Zeit in Anspruch nehmen.</p>
                                <p>Sobald wir dein Konto freigeschaltet haben, erhälst du eine weitere Bestätigung und kannst dich ab sofort für Veranstaltungen anmelden.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:0 30px 15px 30px;font-size:16px;background-color:#f5fafd;color:#6b7c93;">
                                <p style="margin:0;">Wir freuen uns darauf, dich demnächst auf dem Spielfeld anzutreffen!</p>
                                <p style="margin-top:12px;">Viele Grüße,<br /><br /><i>Deine Abteilungsleitung</i></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:30px;text-align:center;font-size:12px;background-color:#2174a6;color:#f5fafd;">
                                <p style="margin:0 0 8px 0;">
                                    <a href="https://psv-hannover.de/badminton/" style="text-decoration:none;"><img src="@(Model.AppUrl)/assets/icons/home.png" width="40" height="40" alt="Homepage des PSV Hannover" style="display:inline-block;color:#f5fafd;"></a>
                                    <a href="@Model.AppUrl" style="text-decoration:none;"><img src="@(Model.AppUrl)/assets/icons/event.png" width="40" height="40" alt="Homepage der PSV Anmeldeverwaltung" style="display:inline-block;color:#f5fafd;"></a>
                                </p>
                                <p style="margin:0;font-size:14px;line-height:20px;">&reg; PSV-Hannover, Hannover 2021<br><a href="@(Model.AppUrl)/user/edit" style="color:#f5fafd;text-decoration:underline;">Benachrichtigungen deaktivieren</a></p>
                            </td>
                        </tr>
                    </table>
                    <!--[if mso]>
                    </td>
                    </tr>
                    </table>
                    <![endif]-->
                </td>
            </tr>
        </table>
    </div>
</body>
</html>